body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    color:darkslategray;
}
main{
    position:relative;
}

nav{
    position: fixed;
    width:100%;
    bottom:0px;
    margin:-10px;
    margin-bottom:1px;
    padding:15px;
    padding-top:2px;
    padding-bottom: 0px;
    background-color:#0047ab;
    color:whitesmoke;

    display:flex;
    flex-direction: row;

    overflow-y: auto;
}

.page-tile{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding:5px;
    transition:all 0.5s ease-out;
}
.locked{
    color:lightgray;
    padding:2px;
}

.page-tile:not(.locked):hover{
    background-color: rgba(0,0,0,0.2);
    cursor:pointer;
}

.page-tile-icon{
    padding:3px;
    font-size:1.3rem;
}

.page-tile-name{
    font-size:0.8rem;
    letter-spacing: 1.2px;
}

.page-lock{
    position: relative;
    left:10px;
    color:tomato;
}

.no-lock{
    height: 1rem;
}

details{
    padding:5px;
    margin:5px;
}
details>summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display: none
}  
summary::before{
    content:"$ ";
}
summary::after {
    content: " >";
}
details[open] summary:after {
    content: " v";
}

.my-grid{
    display:flex;
}

button{
    background-color: dodgerblue;
    color:whitesmoke;
    border:none;
    padding:12px;
    border-radius: 4%;
    transition:all 0.2s ease-out;
}

button:hover{
    background-color: royalblue;
    cursor:pointer;
}

input{
    margin-right:5px;
    background-color: transparent;
    background-color: white;
    border:1px solid darkslategray;
    padding:5px;
    border-radius: 5%;
}

.danger-btn{
    background-color: tomato;
}

.danger-btn:hover{
    background-color: red;
}

.my-grid-actions-center>span{
    display:flex;
    margin:5px;
    padding:5px;
}

.my-grid-actions-center::before{
    content:"Centrum akcji:";
    font-size:0.75rem;
    font-weight:bold;
}

.my-grid-form{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-grid-form>input{
    flex:6;
    padding:5px;
}

.insert-section-row{
    margin:5px;
    padding:3px;
}

.insert-section-row>label::after{
    content:": ";
}

.insert-section{
    margin:5px;
    padding:3px;
}

.insert-section::before{
    content:"Dodaj wpis:";
    font-size:0.75rem;
    font-weight: bold;
}
.home-tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.page-home-tile:not(.locked){
    flex: 1 0 31%;
    margin:5px;
}

.page-home-tile:not(.locked):hover{
    color:black;
    transform:scale(1.05);
}

.page-home-tile .page-tile-icon{
    font-size:3rem;
}

main h3{
    text-align: center;
}

.apply-btn{
    background-color: darkcyan;
}

.clear-filters-btn{
    margin:10px;
    background-color: gray;
}

.clear-filters-btn:hover{
    background-color: darkslategray;
}
label{
    font-size:0.75rem;
}

.custom-dropdown{
    display: inline-block;
}
.error-box{
    color:tomato;
}